/* styles.scss */

.table-container {
  margin-top: 4rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.table-header {
  background-color: #007bff;
  color: #fff;
}

.table-content tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table th, .table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  background-color: #000000;
  color: #fff;
  font-weight: bold;
}

.text-center {
  text-align: center;
}
